/* .profile-img {
    margin: 10px;
    border-radius: 50px;
    width: 50px;

}
.reciever-name {
    color: black;
    font-weight: 400;
    margin-left: 10px;
}
.logout-icon {
    width: 30px;
    cursor: pointer;
    padding-left: 1vw;
    height:30px;
    margin-right: auto;

}
.logout-text{
   
    padding-left: 80vw;
    color:black;
} */



.profile-img {
    margin: 10px;
    border-radius: 50px;
    width: 50px;

}
.reciever-name {
    color: black;
    font-weight: 400;
    margin-left: 10px;
}
.logout-icon {
    width: 30px;
    cursor: pointer;
    padding-left: 1vw;
    height:30px;
    margin-right: auto;

}
.logout-text{
  
    padding-left: 80vw;
    color:black;
}